###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

### NEW ###
/vendor/
/vendor.orig
composer.lock
.idea
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/test/*
tools/composer-normalize
tools/php-cs-fixer
tools/phplint
tools/phpstan
.phpactor.json
.env*
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
