phpstan.neon
.php-cs-fixer.cache
/.phpcs-cache
/phpcs.xml
/vendor/
/vendor.orig
composer.lock
.idea
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/test/*
tools/composer-normalize
tools/php-cs-fixer
tools/phplint
tools/phpstan
.phpactor.json
.env*
/phpunit.xml
/.phpunit.cache/
