/var/
*.swp
/phpcs.xml
.phpunit.result.cache
/.phpunit.cache/
/.phpcs-cache
/phpcs.xml
/vendor
/vendor.orig
composer.lock
.idea
/var/cache/*
!var/cache/.gitkeep
/var/log/*
!var/log/.gitkeep
/var/test/*
/tools
.phpactor.json
.env
symfony.lock
phpunit.dist.xml
notes.local.md
/target
composer.link.*                                                  
symfony.link.lock  