<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
		colors="true"
		bootstrap="vendor/autoload.php"
		executionOrder="random"
		cacheDirectory="var/cache/.phpunit.cache"
		displayDetailsOnTestsThatTriggerDeprecations="true"
		displayDetailsOnTestsThatTriggerErrors="true"
		displayDetailsOnTestsThatTriggerNotices="true"
		displayDetailsOnTestsThatTriggerWarnings="true">

	<coverage
			disableCodeCoverageIgnore="false">
		<report>
			<clover outputFile="var/log/clover/clover.xml"/>
			<html outputDirectory="var/log/clover"/>
		</report>
	</coverage>

	<testsuite name="atoolo-resource">
		<directory>tests/</directory>
	</testsuite>

	<php>
		<server name="APP_ENV" value="test"/>
		<server name="TEST_BASEDIR" value="./"/>
		<ini name="memory_limit" value="512M"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value=""/>
        <env name="APP_SHARE_DIR" value="var/share"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ symfony/messenger ### -->
        <!-- Choose one of the transports below -->
        <!-- MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages -->
        <!-- MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages -->
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0"/>
        <!-- ###- symfony/messenger ### -->

        <!-- ###+ symfony/lock ### -->
        <!-- Choose one of the stores below -->
        <!-- postgresql+advisory://db_user:db_password@localhost/db_name -->
        <env name="LOCK_DSN" value="flock"/>
        <!-- ###- symfony/lock ### -->
	</php>

	<logging>
		<junit outputFile="var/log/surefire-reports/surefire-report.xml"/>
	</logging>

	<source>
		<include>
			<directory>src/</directory>
		</include>
	</source>
</phpunit>